@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Permanent+Marker&family=Squada+One&display=swap");

* {
  padding: 0;
}

.MianDiv {
  .wrapper {
    color: white;
    .img {
      // margin: 10px 0;
      // margin-right: 50px;
      img {
        border-radius: 10px;
      }
    }
    background-color: #3c4961;
    padding: 20px;
    border-radius: 10px;
    .Id_name {
      margin-left: 19px;
      .series {
        font-size: 10px;
        color: #b1b1b1;
      }
      .addr {
        font-size: 14px;
      }
    }
    .devider {
      margin: 20px 0;
      width: 90%;
      height: 1.8px;
      border-radius: 10px;
      background-color: wheat;
    }
    .about_h1 {
      font-size: 11px;
    }
  }
}
