* {
  padding: 0;
}

.searched_date {
  //   background-color: red;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #485166;
  }
}
.srchbar {
  display: flex;
  flex-direction: column;
}
.input_online {
  width: 100%;
}
