* {
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Dosis&family=Flow+Rounded&family=Pacifico&family=Permanent+Marker&family=Rubik:wght@400;500&family=Squada+One&family=Ubuntu&display=swap");

.Main {
  .abt_p {
    font-weight: initial;
  }
  .title {
    font-size: 33px;
    letter-spacing: 2px;
    font-family: "Bebas Neue", sans-serif;
    color: red;
  }

  .hero {
    align-items: center;
    justify-content: space-around;

    .hero_img {
      width: 80%;
    }
    .hero_text {
      // max-width: 40%;
      span {
        color: red;
      }
      .welcome {
        font-weight: bolder;
        font-size: 28px;
      }
      .hero_para {
        font-weight: initial;
      }
    }
  }
  .about_us {
    margin-top: 100px;
    margin-right: 20px;
    align-items: center;

    // grid-template-columns: 1fr 2fr;
    .ab_carousel {
      padding: 10px;
    }
    .imgdiv {
      position: relative;

      .grd {
        background-color: red;
        width: 330px;
        height: 420px;
        position: absolute;
        top: -30px;
        transform: rotate(30deg);
        border-radius: 40px;
      }
      .slash {
        position: absolute;
        top: -102px;
        z-index: 4;
        transform: rotate(-70deg);
        width: 30%;
      }
      .star {
        position: absolute;

        z-index: 1;
        bottom: -166px;
        width: 30%;
        right: -10px;
      }
    }
  }
  .events_actvty {
    margin-top: 110px;
    align-items: center;
    .event_img {
      position: relative;

      .decor {
        top: -67px;
        left: 0;
        width: 312px;
        z-index: -2;
        height: 142%;
      }
    }
  }

  .contact_us {
    align-items: center;
    .callAction {
      .phone {
        display: flex;

        .txt_phone {
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
          background-color: #0c0d21;
        }
        .phone_no {
          background-color: cadetblue;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}

.footer {
  display: flex;
  padding: 14px;
  flex-direction: row;
  align-items: center;
  background: #0c0d21;
  .logo {
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    margin-right: 10px;
    .zlalogo {
      width: 33%;
      // height: 74%;
      padding: 3px;
    }
    .logoTx {
      font-family: "Permanent Marker", cursive;
      transform: rotate(-14deg);
      bottom: 10px;
      color: white;
      position: absolute;
      right: -20px;
      color: #b5baff;
    }
  }
  .copyrt {
    color: white;
    font-family: monospace;
    span {
      font-weight: bold;
    }
  }
}

.by_me {
  background: #0c0d21;
  display: flex;
  color: white;
  justify-content: center;
  h2 {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #171728;
    font-family: monospace;
  }
}
